.dash
  display: block
  padding: 5rem 1rem 0 1rem

  .content > *
    width: 100%
    margin-bottom: 1rem

  .pointer
    cursor: pointer

  .table-ellipsis
    overflow: hidden
    text-overflow: ellipsis
    max-width: 120px
    display: inline-block
    direction: rtl

  .buttons > *
    margin: 0 .5rem
