#nodes.dash
  .node-cards
    display: grid
    grid-gap: 1rem
    grid-template-columns: repeat(auto-fill,minmax(280px, 1fr))

    color: rgba(0, 0, 0, 0.54)

    .host
      margin: .5rem 0

  .node-card-content
    padding-bottom: 0
